.shows-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top:25px;
  .button-wrapper{
    button{
      width:49%;
    }
  }
  .show-wrapper{
    display:flex;
    flex-direction: row;
    border-radius: 8px;
    box-shadow: 0 20px 60px 0 rgba(2, 1, 55, 0.1);
    background-color: #505050;
    color:white;
    align-items: center;
    width:100%;
    margin:5px 0;
    padding:5px;
    cursor:pointer;
    .image{
      img{
        height:150px;
      }
    }
    .title{
      padding-left:15px;
      .show-title{
        font-weight:bold;
        font-size: 24px;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.25;
        letter-spacing: normal;
        color:#e50914;
        margin-bottom: 0;
      }
      .show-synopsis{
        width:65%;
      }
      .show-year{
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
      }
    }
  }
}
.wrapping-div{
  width:49%;
}